@{
    ViewData["Title"] = "Password Generator";
}

<h2>Let's get it started:</h2>
<hr />

<div>
    <label>
        Copy your new <strong>password: </strong>
        <input />
    </label>

    <button>COPY</button>


</div>
<p>or</p>
    <div>
    <label>
        Export a <strong>password </strong> list:
        <input type="number" />
    </label>

    <button>Generate</button>
</div>